* {
	margin: 0px;
	padding: 0px;
}

body {
	overflow-x: hidden;
	font-family: sans-serif;
	background-color: #ffffff;
}

.info {
	font-size: 2vh;
	border-bottom: 10px solid rgba(42, 48, 95, 0.76);
	position: relative;
	height: 10vh;
	background-color: #474f91;
	animation-name: info;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes info {
	from {
		top: -100px;
	}
	to {
		top: 0;
	}
}

.info p {
	font-size: 120%;
	position: relative;
	top: 4vh;
	text-align: center;
	color: white;
}

.pag,
.prototype {
	padding: 45px 20px 45px 20px;
	background-color: #ffffff;
	text-align: center;
}

.prototype {
	background-color: rgba(237, 237, 237, 0.38);
}

.bloco,
.bloco-disabled,
.bloco-prototype,
.bloco-trabalho,
.bloco-prova {
	height: 50px;
	display: inline-block;
	color: white;
	position: relative;
	bottom: 0;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #2daa17;
	cursor: pointer;
	padding: 50px 20px;
	border-radius: 4px;
	transition: .3s;
}

.bloco-prototype {
	background-color: #bf5d1f;
}

.bloco-trabalho {
	background-color: #d8be30;
}

.bloco-prova {
	background-color: #d8275d;
}

.bloco,
.bloco-disabled,
.bloco-prototype,
.bloco-trabalho,
.bloco-prova {
	animation-name: surgir;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

@keyframes surgir {
	0% {
		transform: scale(0.5);
	}
	30% {
		transform: scale(1.05, 1.05);
	}
	50% {
		transform: scale(0.95, 0.95);
	}
	100% {
		transform: scale(1, 1);
	}
}

.bloco:hover {
	transform: scale(1.05, 1.05);
	bottom: 20px;
	background-color: #17be2a;
	box-shadow: 0px 15px 0px 0px rgba(186, 186, 186, 0.59);
}

.bloco-trabalho:hover {
	transform: scale(1.05, 1.05);
	bottom: 20px;
	background-color: #f4d73a;
	box-shadow: 0px 15px 0px 0px rgba(222, 177, 74, 0.96);
}

.bloco-prototype:hover {
	transform: scale(1.05, 1.05);
	bottom: 20px;
	background-color: #d8275d;
	box-shadow: 0px 15px 0px 0px #7e2b12;
}

.bloco-prova:hover {
	transform: scale(1.05, 1.05);
	bottom: 20px;
	background-color: #f42e6a;
	box-shadow: 0px 15px 0px 0px #a31943;
}

.bloco:active,
.bloco-prototype:active,.bloco-trabalho:active,
.bloco-prova:active {
	bottom: -10px;
	box-shadow: 0px 0px 0px 0px rgba(186, 186, 186, 1);
}

.bloco-disabled {
	font-family: helvetica;
	color: #919191;
	cursor: auto;
	background-color: #ededed;
}

a {
	font-family: helvetica;
	text-decoration: none;
}

.prototype-text {
	font-size: 25px;
}