* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}
@font-face {
	
font-family:fontawesome;
src:url("/atividadeslms/atividade4/font/fontawesome.ttf");
font-style:normal;
	
	
}

body {
	position: relative;
	font-family: 'Verdana';
	min-height: 100%;
	top: 0px;
	display: block;
}

.logo {
	text-align: left;
	font-size: 15px;
	padding: 16px 0px 16px 16px;
	
}
.logo-link {
	font-family: fontawesome;
	letter-spacing: 3px;
	font-size: 37px;
	color: #555555;
	text-decoration: none;
}

.logo-link .pontocom {
	margin: 0px;
	padding: 0px;
	color: #4CAF50;
	font-family: fontawesome;
}



/* Barra Navegação horizontal*/

.nav-top {
	width: 100%;
	display: block;
	font-size: 17px;
	position: relative;
	background-color: #4CAF50;
}

.nav-top ul {
	height: 50px;
	list-style: none;
	display: inline-flex;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
	overflow: hidden;
}

.nav-top .menu .link {
	color: white;
	text-decoration: none;
	padding: 15px 5vh;
	letter-spacing: 4px;
}

.nav-top .menu a .menu-1:after {
	content: '▼';
}

.nav-top .drop-down {
	width: 100%;
	cursor: context-menu;
	font-size: 20px;
	background-color: #f1f1f1;
	color: #4a4a4a;
	display: none;
	padding: 0px 0px 60px 20px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.nav-top ul a:hover .drop-down {
	position: absolute;
	display: block;
	left: 0px;
	top: 50px;
}

.nav-top ul .link:hover {
	color: grey;
	background-color: white;
}

.nav-top .menu .drop-down-menus {
	display: block;
	height: auto;
	width: 27vw;
	font-size: 17px;
	letter-spacing: normal;
	float: left;
	padding: 50px 20px 0px 0px;
	
}

.nav-top ul span {
	font-size: 24px;
	display: block;
}

.nav-top ul .drop-down-menus li {
		text-align: left;

	cursor: pointer;
}

.nav-top ul .drop-down-menus li:hover {
	
	background: #d9d9d9;
}


/*Barra de Navegação vertical*/

.nav-left {
	padding-top: 2vh;
	display: block;
	height: 100vh	;
	width: 230px;
	background-color: #ffffff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.nav-left h {
	font-size: 19px;
	padding: 0.5vh 2vw;
}

.nav-left ul {
	list-style: none;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.nav-left ul li {
	font-size: 17px;
	padding: 0.5vh 2vw;
	color: #4a4a4a;
}

.nav-left ul li:hover {
	text-decoration: none;
	background-color: #d1d1d1;
}

.nav-left ul a {
	text-decoration: none;
}