@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(to bottom, rgb(244, 244, 244) 1%, rgba(214, 214, 214, 1) 100%);
    padding: 0px;
    margin: 0px;
}

.titulo {
    z-index: 1;
    background-color: rgb(40, 155, 198);
    position: fixed;
    top: 0px;
    left: 0px;		
    right: 0px;
    text-align: center;
    padding: 0px 1px;
    box-shadow: 0px 14px 28px -8px rgba(0, 0, 0, 0.15);
}

.campo-articles {
    margin-top: 12pc;
}

h1 {
    color: #fdfdfd;
}

nav {
    color: white;
    font-size: 17px;
    height: 30px;
    padding-top: 7px;
}

a {
    height: 10px;
    width: 10px;
    color: white;
	padding-top: 5px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-left: 25px;
    text-decoration: none;
    transition: all 0.1s;
}

a:hover {
    transition: .3s;
    background-color: rgb(224, 135, 26);
}

h2 {
    margin: 10px;
    color: #646464;
    text-align: left;
}

.article,
.article-2,
.article-3 {
    text-align: center;
    display: block;
    position: relative;
    padding: 20px 20px 20px;
    ;
    margin: 0px 1.2in 50px;
    ;
    height: 500px;
    top: 0px;
    background-color: #fafafa;
    height: auto;
}

.article,
.article-2,
.article-3 {
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 5px;
    border-style: solid;
    border-color: #00f;
    border-radius: 20px;
    border-bottom-color: #d9d9d9;
}

.article-2 {
    border-bottom-style: dashed;
    border-bottom-color: #d61b1b;
}

.article-3 {
	border-bottom-style: groove;
	border-bottom-color: #d6b91b;

}

.principal {
    padding: 15px 10px 30px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
    background-color: #ffffff;
    box-sizing: content-box;
    height: auto;
    border-radius: 15px;
}

.images {
    display: block;
    margin: auto
}

.images img {
    padding-left: 3vw;
    height: 25vh;
    width: auto;
}

footer {
    margin: 0px;
    background-image: ;
    height: 50px;
}

.nav-foot {
    color: black;
    background-image: url(/atividadeslms/atividade3/img/gradient_bg.png);
    padding-top: 15px;
    font-size: 15px;
    text-align: center;
}